NODE_ENV=local
PORT=3001
HTTP=http 
BASE_URL="api/"
ALLOWED_EMAILS= ["yopmail.com"]

#MONGODB CREDENTIALS    
MONGO.SCHEME = ''
MONGO.USERNAME=''
MONGO.PASSWORD=''
MONGO.DATABASE='' 
MONGO.HOST=''
MONGO.PORT = ''

#REDIS
REDIS.HOST=
REDIS.PORT=
REDIS.CACHE_TTL=
REDIS.MAX_ITEM_IN_CACHE=
REDIS.DB=
REDIS.PASSWORD=

#KAFKA
KAFKA.URL=''
KAFKA.BROKERS=[]
KAFKA.GROUP_ID=''
KAFKA.CLIENT_ID=''
KAFKA.SASL_USERNAME=''
KAFKA.SASL_PASSWORD=''

SALT_ROUND=10


SECRETS.MFA_TOKEN=''
SECRETS.AUTH_TOKEN=''
SECRETS.REFRESH_TOKEN=''
SECRETS.PASSWORD_TOKEN=''

GRPC.AUTH_SERVICE = "0.0.0.0:30010"
GRPC.USER_SERVICE = "0.0.0.0:30020"
GRPC.NOTIFICATION_SERVICE = "0.0.0.0:30030"
GRPC.SEARCH_SERVICE = "0.0.0.0:30040"



AUTH.USERNAME = "RCC_USR"
AUTH.PASSWORD = "RCC_PWD"


OTP_BYPASS='000000'

#GOOGLE
GOOGLE.CLIENT_ID=""
GOOGLE.CLIENT_SECRET=""
GOOGLE.REDIRECT_URI=""
#GCP
GCP.BUCKET_NAME = ""
GCP.GCP_KEYFILE_PATH = "secrets/gcp-service-account.json"
